.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.appName {
    flex: 1;
}

.buttons {
    display: flex;
    gap: 1em
}

.burger {
    display: none;
}

@media (max-width: 599px) {
    .buttons {
        display: none;
    }

    .burger {
        display: block
    }
}
