.wrapper {
    display: flex;
    align-items: center;
    gap: .5em;
}

.message {
    font-weight: 300;
    flex: 1;
}

.avatar {
    display: flex
}

.meAvatar {
    display: none;
}

@media (max-width: 599px) {
    .isMeWrapper {
        flex-direction: row-reverse;
        text-align: right;
    }

    .avatarHidden {
        display: none;
    }

    .meAvatarVisible {
        display: flex;
    }
}